button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #31f0d6;
  padding: 25px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 20px;
}

button:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

span {
  font-size: 50px;
  /* font-family: "Roboto Condensed", sans-serif; */
  /* font-family: "Share", cursive; */
  font-family: "Alata", sans-serif;
}

.homeBody {
  margin-top: 20vh;
  /* margin: 230px; */
}

#quiz {
  margin-bottom: 47px;
}
