.navbar-brand-custom {
  width: 100vw;
  height: 90vh;
  text-align: center;
  font-size: 100px;
  font-family: "Catamaran", sans-serif;
}

.title {
  /* background-color: aqua; */
  font-size: 100px;
  font-family: "Catamaran", sans-serif;
  text-transform: uppercase;
  height: 30px;
  margin-top: 90px;
}
