/* .navbar-brand-custom {
  width: 100vw;
  height: 90vh;
  text-align: center;
  font-size: 100px;
  font-family: "Catamaran", sans-serif;
} */

.title {
  /* background-color: aqua; */
  font-size: 100px;
  font-family: "Catamaran", sans-serif;
  text-transform: uppercase;
  height: 30px;
  margin-top: 90px;
}

h1 {
  font-size: 55px !important;
  color: #4183c4;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 32px !important;
  font-style: italic;
  color: #4183c4;
  margin-bottom: 5% !important;
  /* color: white; */
  /* text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15); */
}

h3 {
  color: #70b7e5;
  font-family: "Arimo", sans-serif;
  text-align: center;
  font-size: 30px !important;
}

.info {
  color: #70b7e5;
  font-family: "Arimo", sans-serif;
  text-align: center;
  font-size: 30px !important;
  margin-bottom: -50px !important;
}

#facts {
  float: left;
  margin-right: 50%;
  text-align: left;
  margin-left: 10%;
  font-style: oblique;
  margin-top: 10vh;
  height: auto;
}

#reasons {
  float: right;
  margin-left: 50%;
  margin-right: 10%;
  text-align: left;
  font-style: oblique;
}

li {
  font-size: 20px;
  line-height: 30px;
  font-family: "Share", sans-serif;
  /* font-family: "Roboto Condensed", sans-serif; */
}

#mission {
  font-size: 20px;
  line-height: 30px;
  font-family: "Share", sans-serif;
  margin: 0 10%;
  margin-bottom: 5%;
}

.animalPic {
  width: 3vw;
  height: auto;
}
